<!DOCTYPE html>
<html>
<head>
  <title>Confessions</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css" integrity="sha512-8bHTC73gkZ7rZ7vpqUQThUDhqcNFyYi2xgDgPDHc+GXVGHXq+xPjynxIopALmOPqzo9JZj0k6OqqewdGO3EsrQ==" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/confessions.css') }}">
</head>
<body>

  <div class="header"><h1>MentAbility</h1></div>

  <form class="ui form">
  <div class="field">
    <label>Secret Name</label>
    <input type="text" name="first-name" placeholder="Secret Name">
  </div>
  <div class="field">
    <label>Your Confession</label>
    <input type="text" name="last-name" placeholder="Your Confession">
  </div>
  <div class="field">
    <div class="ui checkbox">
      <input type="checkbox" tabindex="0" class="hidden">
    </div>
  </div>
  <button class="ui blue button" type="submit">Post</button>
</form>
</body>
</html>